@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --color-app-green: #CCD5AE;
    --color-app-lgreen: #E9EDC9;
    --color-app-white: #FEFAE0;
    --color-app-lbrown: #FAEDCD;
    --color-app-brown: #D4A373;
    --font-roboto: "Roboto", sans-serif; 
  }